.light-medium-contrast {
  --md-sys-color-primary: rgb(0 50 123);
  --md-sys-color-surface-tint: rgb(0 87 204);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 99 229);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(27 52 103);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(85 108 162);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(34 61 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(73 122 0);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(250 248 255);
  --md-sys-color-on-background: rgb(25 27 35);
  --md-sys-color-surface: rgb(250 248 255);
  --md-sys-color-on-surface: rgb(14 17 24);
  --md-sys-color-surface-variant: rgb(222 226 243);
  --md-sys-color-on-surface-variant: rgb(49 54 67);
  --md-sys-color-outline: rgb(78 82 96);
  --md-sys-color-outline-variant: rgb(104 109 124);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 48 56);
  --md-sys-color-inverse-on-surface: rgb(239 240 251);
  --md-sys-color-inverse-primary: rgb(176 198 255);
  --md-sys-color-primary-fixed: rgb(10 102 231);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 78 185);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(85 108 162);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(61 83 136);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(73 122 0);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(56 95 0);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(197 198 209);
  --md-sys-color-surface-bright: rgb(250 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(242 243 254);
  --md-sys-color-surface-container: rgb(231 231 243);
  --md-sys-color-surface-container-high: rgb(219 220 231);
  --md-sys-color-surface-container-highest: rgb(208 209 220);
  --md-extended-color-custom-color1-color: rgb(36 0 93);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(60 5 143);
  --md-extended-color-custom-color1-on-color-container: rgb(202 179 255);
}

