.light {
  --md-sys-color-primary: rgb(0 76 180);
  --md-sys-color-surface-tint: rgb(0 87 204);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 99 229);
  --md-sys-color-on-primary-container: rgb(231 236 255);
  --md-sys-color-secondary: rgb(71 93 147);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(172 195 255);
  --md-sys-color-on-secondary-container: rgb(56 79 132);
  --md-sys-color-tertiary: rgb(61 103 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(79 130 0);
  --md-sys-color-on-tertiary-container: rgb(249 255 234);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(250 248 255);
  --md-sys-color-on-background: rgb(25 27 35);
  --md-sys-color-surface: rgb(250 248 255);
  --md-sys-color-on-surface: rgb(25 27 35);
  --md-sys-color-surface-variant: rgb(222 226 243);
  --md-sys-color-on-surface-variant: rgb(66 70 84);
  --md-sys-color-outline: rgb(114 119 134);
  --md-sys-color-outline-variant: rgb(194 198 215);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 48 56);
  --md-sys-color-inverse-on-surface: rgb(239 240 251);
  --md-sys-color-inverse-primary: rgb(176 198 255);
  --md-sys-color-primary-fixed: rgb(217 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 25 69);
  --md-sys-color-primary-fixed-dim: rgb(176 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 65 156);
  --md-sys-color-secondary-fixed: rgb(217 226 255);
  --md-sys-color-on-secondary-fixed: rgb(0 25 69);
  --md-sys-color-secondary-fixed-dim: rgb(176 198 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(46 69 121);
  --md-sys-color-tertiary-fixed: rgb(182 245 108);
  --md-sys-color-on-tertiary-fixed: rgb(16 32 0);
  --md-sys-color-tertiary-fixed-dim: rgb(155 216 83);
  --md-sys-color-on-tertiary-fixed-variant: rgb(46 79 0);
  --md-sys-color-surface-dim: rgb(216 217 228);
  --md-sys-color-surface-bright: rgb(250 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(242 243 254);
  --md-sys-color-surface-container: rgb(236 237 248);
  --md-sys-color-surface-container-high: rgb(231 231 243);
  --md-sys-color-surface-container-highest: rgb(225 226 237);
  --md-extended-color-custom-color1-color: rgb(36 0 93);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(60 5 143);
  --md-extended-color-custom-color1-on-color-container: rgb(167 131 255);
}

